{% comment %}
  Product Card for Collection Page
  Parameters:
  - product: Product object
{% endcomment %}

{% liquid
  assign product_url = product.url
  assign product_title = product.title
  assign product_price = product.price | money
  assign product_price_raw = product.price | divided_by: 100.0
  assign product_image = product.featured_image
  assign product_id = product.id
  assign product_type = product.type
  assign product_tags = product.tags | join: ','
  assign is_new_arrival = false
  if product.tags contains 'new-arrival' or product.tags contains 'New Arrival'
    assign is_new_arrival = true
  endif
%}

<div
  class="product-card-collection-diamension"
  data-product-id="{{ product_id }}"
  data-product-tags="{{ product_tags }}"
  data-product-type="{{ product_type }}"
  data-product-price="{{ product_price_raw }}"
>
  <a href="{{ product_url }}" class="product-card-collection-diamension__link">
    <div class="product-card-collection-diamension__image-wrapper">
      {% if product_image %}
        <img
          src="{{ product_image | image_url: width: 400 }}"
          srcset="{{ product_image | image_url: width: 200 }} 200w,
                  {{ product_image | image_url: width: 400 }} 400w,
                  {{ product_image | image_url: width: 600 }} 600w,
                  {{ product_image | image_url: width: 800 }} 800w"
          sizes="(min-width: 1024px) 348px, (min-width: 768px) 25vw, (min-width: 480px) 33vw, 50vw"
          alt="{{ product_title | escape }}"
          loading="lazy"
          class="product-card-collection-diamension__image"
        >
      {% else %}
        <div class="product-card-collection-diamension__image-placeholder"></div>
      {% endif %}
    </div>

    <div class="product-card-collection-diamension__info">
      <h3 class="product-card-collection-diamension__title">{{ product_title }}</h3>
      <p class="product-card-collection-diamension__price">From {{ product_price }}</p>
    </div>
  </a>

  {% comment %} Wishlist button {% endcomment %}
  <button
    class="product-card-collection-diamension__wishlist"
    data-wishlist-toggle
    data-product-id="{{ product_id }}"
    aria-label="Add to wishlist"
    type="button"
  >
    <svg width="24" height="24" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg" class="product-card-collection-diamension__wishlist-icon">
      <g clip-path="url(#clip0_12_4822)">
        <mask id="mask0_12_4822" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="19" height="19">
          <path d="M18.7554 0H0V18.7554H18.7554V0Z" fill="white"/>
        </mask>
        <g mask="url(#mask0_12_4822)">
          <path d="M16.0901 3.88421C16.7778 4.65787 17.192 5.67378 17.192 6.79129C17.192 12.2616 12.128 15.4891 9.86175 16.2706C9.59605 16.3643 9.15842 16.3643 8.89272 16.2706C6.62645 15.4891 1.5625 12.2616 1.5625 6.79129C1.5625 4.37654 3.50837 2.42285 5.90749 2.42285C7.32978 2.42285 8.58795 3.11055 9.37724 4.17335C10.1665 3.11055 11.4325 2.42285 12.847 2.42285" stroke="#183754" stroke-width="1.25036" stroke-linecap="round" stroke-linejoin="round" class="product-card-collection-diamension__wishlist-path"/>
        </g>
      </g>
      <defs>
        <clipPath id="clip0_12_4822">
          <rect width="18.7554" height="18.7554" fill="white"/>
        </clipPath>
      </defs>
    </svg>
  </button>

  {% comment %} New Arrival Badge {% endcomment %}
  {% if is_new_arrival %}
    <div class="product-card-collection-diamension__badge">
      <p>NEW ARRIVAL</p>
    </div>
  {% endif %}
</div>
