{{ 'section-diamension-header.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign transparent_templates = 'index,blog' | split: ','
  if transparent_templates contains template.name
    assign header_behavior = 'auto'
  else
    assign header_behavior = 'solid'
  endif
-%}
<header class="diamension-header" data-header data-header-behavior="{{ header_behavior }}">
  {%- comment -%} Announcement Bar {%- endcomment -%}
  <div class="diamension-header__announcement">
    <p class="diamension-header__announcement-text">{{ section.settings.announcement_text }}</p>
  </div>

  {%- comment -%} Divider Line {%- endcomment -%}
  <div class="diamension-header__divider"></div>

  {%- comment -%} Main Header {%- endcomment -%}
  <div class="diamension-header__main">
    <div class="diamension-header__container">
      {%- comment -%} Mobile Hamburger {%- endcomment -%}
      <button type="button" class="diamension-header__hamburger" aria-label="Menu" data-hamburger>
        <svg
          class="diamension-header__hamburger-svg diamension-header__hamburger-svg--light"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M3 6H21" stroke="#FFFAF5" stroke-width="2" stroke-linecap="round"/>
          <path d="M3 12H21" stroke="#FFFAF5" stroke-width="2" stroke-linecap="round"/>
          <path d="M3 18H21" stroke="#FFFAF5" stroke-width="2" stroke-linecap="round"/>
        </svg>
        <svg
          class="diamension-header__hamburger-svg diamension-header__hamburger-svg--dark"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M3 6H21" stroke="#183754" stroke-width="2" stroke-linecap="round"/>
          <path d="M3 12H21" stroke="#183754" stroke-width="2" stroke-linecap="round"/>
          <path d="M3 18H21" stroke="#183754" stroke-width="2" stroke-linecap="round"/>
        </svg>
      </button>

      {%- comment -%} Left Navigation (Desktop) {%- endcomment -%}
      <nav class="diamension-header__nav">
        {%- for link in linklists[section.settings.menu].links -%}
          <a href="{{ link.url }}" class="diamension-header__nav-link">{{ link.title }}</a>
        {%- endfor -%}
      </nav>

      {%- comment -%} Custom Mega Menus (Dynamic ID-based system) {%- endcomment -%}
      {% render 'custom-header-mega-menu', blocks: section.blocks, menu_id: 'shop' %}
      {% render 'custom-header-mega-menu', blocks: section.blocks, menu_id: 'brand' %}
      {% render 'custom-header-mega-menu', blocks: section.blocks, menu_id: 'customize' %}
      {% render 'custom-header-mega-menu', blocks: section.blocks, menu_id: 'origins' %}
      {% render 'custom-header-mega-menu', blocks: section.blocks, menu_id: 'blog' %}
      {% render 'custom-header-mega-menu', blocks: section.blocks, menu_id: 'contact' %}

      {%- comment -%} Center Logo {%- endcomment -%}
      <div class="diamension-header__logo">
        <a href="{{ routes.root_url }}" class="diamension-header__logo-link">
          <div class="diamension-header__logo-wrapper">
            {%- if section.settings.logo_light != blank -%}
              <img
                src="{{ section.settings.logo_light | image_url: width: 600 }}"
                alt="{{ shop.name }}"
                class="diamension-header__logo-img diamension-header__logo-img--light"
                width="{{ section.settings.logo_width | default: 190 }}"
                height="auto"
                loading="eager"
              >
            {%- endif -%}
            {%- if section.settings.logo_dark != blank -%}
              <img
                src="{{ section.settings.logo_dark | image_url: width: 600 }}"
                alt="{{ shop.name }}"
                class="diamension-header__logo-img diamension-header__logo-img--dark"
                width="{{ section.settings.logo_width | default: 190 }}"
                height="auto"
                loading="eager"
              >
            {%- endif -%}
          </div>
        </a>
      </div>

      {%- comment -%} Right Icons {%- endcomment -%}
      <div class="diamension-header__actions">
        {%- comment -%} Search {%- endcomment -%}
        <button
          type="button"
          class="diamension-header__icon diamension-header__icon-search"
          aria-label="Search"
          data-search-toggle
        >
          <svg
            class="diamension-header__icon-svg diamension-header__icon-svg--light diamension-header__icon-svg--search"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M21.3982 20.6023L16.5814 15.7854C17.955 14.2057 18.6616 12.1545 18.5523 10.064C18.4429 7.9735 17.5262 6.00712 15.9954 4.57934C14.4645 3.15157 12.4391 2.37395 10.3461 2.41041C8.25305 2.44686 6.25594 3.29454 4.77573 4.77475C3.29551 6.25497 2.44784 8.25208 2.41138 10.3451C2.37493 12.4381 3.15255 14.4635 4.58032 15.9944C6.00809 17.5253 7.97447 18.442 10.065 18.5513C12.1554 18.6606 14.2067 17.954 15.7864 16.5804L20.6032 21.3973C20.7099 21.4966 20.8509 21.5507 20.9966 21.5481C21.1424 21.5456 21.2814 21.4865 21.3845 21.3835C21.4875 21.2804 21.5465 21.1414 21.5491 20.9957C21.5517 20.8499 21.4976 20.7089 21.3982 20.6023ZM3.56324 10.4998C3.56324 9.12765 3.97011 7.78636 4.73242 6.64549C5.49472 5.50463 6.57821 4.61543 7.84587 4.09035C9.11353 3.56526 10.5084 3.42788 11.8542 3.69556C13.1999 3.96325 14.4361 4.62398 15.4063 5.59421C16.3765 6.56443 17.0372 7.80058 17.3049 9.14632C17.5726 10.4921 17.4352 11.887 16.9102 13.1546C16.3851 14.4223 15.4959 15.5058 14.355 16.2681C13.2141 17.0304 11.8728 17.4373 10.5007 17.4373C8.66148 17.435 6.8982 16.7034 5.59765 15.4028C4.2971 14.1023 3.56547 12.339 3.56324 10.4998Z" fill="#FFFAF5"/>
          </svg>
          <svg
            class="diamension-header__icon-svg diamension-header__icon-svg--dark diamension-header__icon-svg--search"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M21.3982 20.6027L16.5814 15.7859C17.955 14.2062 18.6616 12.155 18.5523 10.0645C18.4429 7.97399 17.5262 6.00761 15.9954 4.57983C14.4645 3.15206 12.4391 2.37444 10.3461 2.41089C8.25305 2.44735 6.25594 3.29502 4.77573 4.77524C3.29551 6.25546 2.44784 8.25256 2.41138 10.3456C2.37493 12.4386 3.15255 14.464 4.58032 15.9949C6.00809 17.5258 7.97447 18.4425 10.065 18.5518C12.1554 18.6611 14.2067 17.9545 15.7864 16.5809L20.6032 21.3977C20.7099 21.4971 20.8509 21.5512 20.9966 21.5486C21.1424 21.5461 21.2814 21.487 21.3845 21.384C21.4875 21.2809 21.5465 21.1419 21.5491 20.9961C21.5517 20.8504 21.4976 20.7094 21.3982 20.6027ZM3.56324 10.5002C3.56324 9.12814 3.97011 7.78685 4.73242 6.64598C5.49472 5.50511 6.57821 4.61592 7.84587 4.09083C9.11353 3.56575 10.5084 3.42837 11.8542 3.69605C13.1999 3.96374 14.4361 4.62447 15.4063 5.5947C16.3765 6.56492 17.0372 7.80107 17.3049 9.14681C17.5726 10.4926 17.4352 11.8875 16.9102 13.1551C16.3851 14.4228 15.4959 15.5063 14.355 16.2686C13.2141 17.0309 11.8728 17.4377 10.5007 17.4377C8.66148 17.4355 6.8982 16.7039 5.59765 15.4033C4.2971 14.1028 3.56547 12.3395 3.56324 10.5002Z" fill="#183754"/>
          </svg>
          {%- comment -%} Close Icon (initially hidden) {%- endcomment -%}
          <svg
            class="diamension-header__icon-svg diamension-header__icon-svg--light diamension-header__icon-svg--close"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M18 6L6 18" stroke="#FFFAF5" stroke-width="2" stroke-linecap="round"/>
            <path d="M6 6L18 18" stroke="#FFFAF5" stroke-width="2" stroke-linecap="round"/>
          </svg>
          <svg
            class="diamension-header__icon-svg diamension-header__icon-svg--dark diamension-header__icon-svg--close"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M18 6L6 18" stroke="#183754" stroke-width="2" stroke-linecap="round"/>
            <path d="M6 6L18 18" stroke="#183754" stroke-width="2" stroke-linecap="round"/>
          </svg>
        </button>

        {%- comment -%} Currency Selector {%- endcomment -%}
        <div class="diamension-header__currency">
          <span class="diamension-header__currency-text">{{ section.settings.currency_text }}</span>
        </div>

        {%- comment -%} Account {%- endcomment -%}
        <a
          href="{{ routes.account_url }}"
          class="diamension-header__icon diamension-header__icon-profile"
          aria-label="Account"
        >
          <svg
            class="diamension-header__icon-svg diamension-header__icon-svg--light"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M11.9995 12.0013C14.1652 12.0013 15.9268 10.2397 15.9268 8.07316C15.9268 5.90754 14.1652 4.14502 11.9995 4.14502C9.83391 4.14502 8.07227 5.90751 8.07227 8.07316C8.07227 10.2388 9.83391 12.0013 11.9995 12.0013ZM11.9995 5.45411C13.4433 5.45411 14.6177 6.62854 14.6177 8.07316C14.6177 9.51692 13.4433 10.6922 11.9995 10.6922C10.5558 10.6922 9.38136 9.51694 9.38136 8.07316C9.38136 6.62939 10.5558 5.45411 11.9995 5.45411Z" fill="#FFFAF5"/>
            <path d="M15.9263 13.3105H8.0718C5.90617 13.3105 4.14453 15.0722 4.14453 17.2369V19.8551H5.45362V17.2369C5.45362 15.794 6.62805 14.6196 8.0718 14.6196H15.9263C17.3701 14.6196 18.5445 15.7941 18.5445 17.2369V19.8551H19.8536V17.2369C19.8536 15.0713 18.092 13.3105 15.9263 13.3105Z" fill="#FFFAF5"/>
          </svg>
          <svg
            class="diamension-header__icon-svg diamension-header__icon-svg--dark"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M11.9995 12.0013C14.1652 12.0013 15.9268 10.2397 15.9268 8.07316C15.9268 5.90754 14.1652 4.14502 11.9995 4.14502C9.83391 4.14502 8.07227 5.90751 8.07227 8.07316C8.07227 10.2388 9.83391 12.0013 11.9995 12.0013ZM11.9995 5.45411C13.4433 5.45411 14.6177 6.62854 14.6177 8.07316C14.6177 9.51692 13.4433 10.6922 11.9995 10.6922C10.5558 10.6922 9.38136 9.51694 9.38136 8.07316C9.38136 6.62939 10.5558 5.45411 11.9995 5.45411Z" fill="#183754"/>
            <path d="M15.9263 13.3103H8.0718C5.90617 13.3103 4.14453 15.0719 4.14453 17.2367V19.8549H5.45362V17.2367C5.45362 15.7938 6.62805 14.6194 8.0718 14.6194H15.9263C17.3701 14.6194 18.5445 15.7938 18.5445 17.2367V19.8549H19.8536V17.2367C19.8536 15.0711 18.092 13.3103 15.9263 13.3103Z" fill="#183754"/>
          </svg>
        </a>

        {%- comment -%} Cart {%- endcomment -%}
        <a
          href="{{ routes.cart_url }}"
          id="diamension-cart-icon"
          class="diamension-header__icon diamension-header__icon--cart"
          aria-label="Cart"
        >
          <svg
            class="diamension-header__icon-svg diamension-header__icon-svg--light"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M21.9811 7.75594C21.857 7.61628 21.7047 7.50454 21.5342 7.4281C21.3637 7.35166 21.1789 7.31226 20.9921 7.3125H16.3121V7.125C16.3121 5.98125 15.8577 4.88435 15.049 4.0756C14.2402 3.26685 13.1433 2.8125 11.9996 2.8125C10.8558 2.8125 9.75894 3.26685 8.95019 4.0756C8.14144 4.88435 7.68709 5.98125 7.68709 7.125V7.3125H3.00709C2.82099 7.31122 2.63675 7.34953 2.46659 7.42488C2.29643 7.50024 2.14424 7.61092 2.02011 7.74958C1.89599 7.88824 1.80278 8.05172 1.74665 8.22915C1.69053 8.40659 1.67278 8.59393 1.69459 8.77875L3.03052 20.0287C3.06954 20.3491 3.2247 20.6439 3.4666 20.8575C3.7085 21.0711 4.02034 21.1885 4.34302 21.1875H19.6562C19.9788 21.1885 20.2907 21.0711 20.5326 20.8575C20.7745 20.6439 20.9296 20.3491 20.9687 20.0287L22.3046 8.77875C22.3257 8.5951 22.3079 8.40905 22.2521 8.23279C22.1964 8.05653 22.1041 7.89403 21.9811 7.75594ZM8.81209 7.125C8.81209 6.27962 9.14791 5.46887 9.74568 4.8711C10.3435 4.27332 11.1542 3.9375 11.9996 3.9375C12.845 3.9375 13.6557 4.27332 14.2535 4.8711C14.8513 5.46887 15.1871 6.27962 15.1871 7.125V7.3125H8.81209V7.125ZM19.8493 19.8966C19.8439 19.9435 19.821 19.9866 19.7852 20.0173C19.7494 20.0481 19.7033 20.0642 19.6562 20.0625H4.34302C4.29586 20.0642 4.24978 20.0481 4.21398 20.0173C4.17818 19.9866 4.1553 19.9435 4.1499 19.8966L2.81209 8.64656C2.80893 8.62076 2.8114 8.59457 2.81933 8.56981C2.82726 8.54505 2.84046 8.5223 2.85802 8.50312C2.87653 8.48216 2.89935 8.46544 2.92491 8.45412C2.95048 8.44279 2.97819 8.43712 3.00615 8.4375H7.68709V10.875C7.68709 11.0242 7.74635 11.1673 7.85184 11.2727C7.95733 11.3782 8.1004 11.4375 8.24959 11.4375C8.39877 11.4375 8.54184 11.3782 8.64733 11.2727C8.75282 11.1673 8.81209 11.0242 8.81209 10.875V8.4375H15.1871V10.875C15.1871 11.0242 15.2464 11.1673 15.3518 11.2727C15.4573 11.3782 15.6004 11.4375 15.7496 11.4375C15.8988 11.4375 16.0418 11.3782 16.1473 11.2727C16.2528 11.1673 16.3121 11.0242 16.3121 10.875V8.4375H20.9921C21.02 8.43712 21.0478 8.44279 21.0733 8.45412C21.0989 8.46544 21.1217 8.48216 21.1402 8.50312C21.1578 8.5223 21.171 8.54505 21.1789 8.56981C21.1868 8.59457 21.1893 8.62076 21.1861 8.64656L19.8493 19.8966Z" fill="#FFFAF5"/>
          </svg>
          <svg
            class="diamension-header__icon-svg diamension-header__icon-svg--dark"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M21.9811 7.75594C21.857 7.61628 21.7047 7.50454 21.5342 7.4281C21.3637 7.35166 21.1789 7.31226 20.9921 7.3125H16.3121V7.125C16.3121 5.98125 15.8577 4.88435 15.049 4.0756C14.2402 3.26685 13.1433 2.8125 11.9996 2.8125C10.8558 2.8125 9.75894 3.26685 8.95019 4.0756C8.14144 4.88435 7.68709 5.98125 7.68709 7.125V7.3125H3.00709C2.82099 7.31122 2.63675 7.34953 2.46659 7.42488C2.29643 7.50024 2.14424 7.61092 2.02011 7.74958C1.89599 7.88824 1.80278 8.05172 1.74665 8.22915C1.69053 8.40659 1.67278 8.59393 1.69459 8.77875L3.03052 20.0287C3.06954 20.3491 3.2247 20.6439 3.4666 20.8575C3.7085 21.0711 4.02034 21.1885 4.34302 21.1875H19.6562C19.9788 21.1885 20.2907 21.0711 20.5326 20.8575C20.7745 20.6439 20.9296 20.3491 20.9687 20.0287L22.3046 8.77875C22.3257 8.5951 22.3079 8.40905 22.2521 8.23279C22.1964 8.05653 22.1041 7.89403 21.9811 7.75594ZM8.81209 7.125C8.81209 6.27962 9.14791 5.46887 9.74568 4.8711C10.3435 4.27332 11.1542 3.9375 11.9996 3.9375C12.845 3.9375 13.6557 4.27332 14.2535 4.8711C14.8513 5.46887 15.1871 6.27962 15.1871 7.125V7.3125H8.81209V7.125ZM19.8493 19.8966C19.8439 19.9435 19.821 19.9866 19.7852 20.0173C19.7494 20.0481 19.7033 20.0642 19.6562 20.0625H4.34302C4.29586 20.0642 4.24978 20.0481 4.21398 20.0173C4.17818 19.9866 4.1553 19.9435 4.1499 19.8966L2.81209 8.64656C2.80893 8.62076 2.8114 8.59457 2.81933 8.56981C2.82726 8.54505 2.84046 8.5223 2.85802 8.50312C2.87653 8.48216 2.89935 8.46544 2.92491 8.45412C2.95048 8.44279 2.97819 8.43712 3.00615 8.4375H7.68709V10.875C7.68709 11.0242 7.74635 11.1673 7.85184 11.2727C7.95733 11.3782 8.1004 11.4375 8.24959 11.4375C8.39877 11.4375 8.54184 11.3782 8.64733 11.2727C8.75282 11.1673 8.81209 11.0242 8.81209 10.875V8.4375H15.1871V10.875C15.1871 11.0242 15.2464 11.1673 15.3518 11.2727C15.4573 11.3782 15.6004 11.4375 15.7496 11.4375C15.8988 11.4375 16.0418 11.3782 16.1473 11.2727C16.2528 11.1673 16.3121 11.0242 16.3121 10.875V8.4375H20.9921C21.02 8.43712 21.0478 8.44279 21.0733 8.45412C21.0989 8.46544 21.1217 8.48216 21.1402 8.50312C21.1578 8.5223 21.171 8.54505 21.1789 8.56981C21.1868 8.59457 21.1893 8.62076 21.1861 8.64656L19.8493 19.8966Z" fill="#183754"/>
          </svg>
          <span class="diamension-header__cart-count" data-cart-count>
            {%- if cart.item_count > 0 %}{{ cart.item_count }}{% endif -%}
          </span>
        </a>
      </div>
    </div>
  </div>

  {%- comment -%} Search Overlay {%- endcomment -%}
  {% render 'diamension-search-overlay', suggested_terms_menu: section.settings.suggested_terms_menu %}
</header>

{%- comment -%} Mobile Navigation Drawer (3-level drill-down) {%- endcomment -%}
{% render 'custom-mobile-nav-drawer', blocks: section.blocks, mobile_menu: linklists[section.settings.mobile_menu] %}

{%- comment -%} Transparent Sticky Header (Only for transparent mode) {%- endcomment -%}
{%- if header_behavior == 'auto' -%}
  <header class="diamension-header diamension-header--transparent-sticky" data-transparent-sticky>
    {%- comment -%} Announcement Bar {%- endcomment -%}
    <div class="diamension-header__announcement">
      <p class="diamension-header__announcement-text">{{ section.settings.announcement_text }}</p>
    </div>

    {%- comment -%} Divider Line {%- endcomment -%}
    <div class="diamension-header__divider"></div>

    {%- comment -%} Main Header {%- endcomment -%}
    <div class="diamension-header__main">
      <div class="diamension-header__container">
        {%- comment -%} Mobile Hamburger {%- endcomment -%}
        <button type="button" class="diamension-header__hamburger" aria-label="Menu" data-hamburger-sticky>
          <svg
            class="diamension-header__hamburger-svg diamension-header__hamburger-svg--dark"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M3 6H21" stroke="#183754" stroke-width="2" stroke-linecap="round"/>
            <path d="M3 12H21" stroke="#183754" stroke-width="2" stroke-linecap="round"/>
            <path d="M3 18H21" stroke="#183754" stroke-width="2" stroke-linecap="round"/>
          </svg>
        </button>

        {%- comment -%} Left Navigation (Desktop) {%- endcomment -%}
        <nav class="diamension-header__nav">
          {%- for link in linklists[section.settings.menu].links -%}
            <a href="{{ link.url }}" class="diamension-header__nav-link">{{ link.title }}</a>
          {%- endfor -%}
        </nav>

        {%- comment -%} Custom Mega Menus (Sticky Header) {%- endcomment -%}
        {% render 'custom-header-mega-menu', blocks: section.blocks, menu_id: 'shop' %}
        {% render 'custom-header-mega-menu', blocks: section.blocks, menu_id: 'brand' %}
        {% render 'custom-header-mega-menu', blocks: section.blocks, menu_id: 'customize' %}
        {% render 'custom-header-mega-menu', blocks: section.blocks, menu_id: 'origins' %}
        {% render 'custom-header-mega-menu', blocks: section.blocks, menu_id: 'blog' %}
        {% render 'custom-header-mega-menu', blocks: section.blocks, menu_id: 'contact' %}

        {%- comment -%} Center Logo {%- endcomment -%}
        <div class="diamension-header__logo">
          <a href="{{ routes.root_url }}" class="diamension-header__logo-link">
            <div class="diamension-header__logo-wrapper">
              {%- if section.settings.logo_dark != blank -%}
                <img
                  src="{{ section.settings.logo_dark | image_url: width: 600 }}"
                  alt="{{ shop.name }}"
                  class="diamension-header__logo-img"
                  width="{{ section.settings.logo_width | default: 190 }}"
                  height="auto"
                  loading="eager"
                >
              {%- endif -%}
            </div>
          </a>
        </div>

        {%- comment -%} Right Icons {%- endcomment -%}
        <div class="diamension-header__actions">
          {%- comment -%} Search {%- endcomment -%}
          <button
            type="button"
            class="diamension-header__icon diamension-header__icon-search"
            aria-label="Search"
            data-search-toggle-sticky
          >
            <svg
              class="diamension-header__icon-svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M21.3982 20.6027L16.5814 15.7859C17.955 14.2062 18.6616 12.155 18.5523 10.0645C18.4429 7.97399 17.5262 6.00761 15.9954 4.57983C14.4645 3.15206 12.4391 2.37444 10.3461 2.41089C8.25305 2.44735 6.25594 3.29502 4.77573 4.77524C3.29551 6.25546 2.44784 8.25256 2.41138 10.3456C2.37493 12.4386 3.15255 14.464 4.58032 15.9949C6.00809 17.5258 7.97447 18.4425 10.065 18.5518C12.1554 18.6611 14.2067 17.9545 15.7864 16.5809L20.6032 21.3977C20.7099 21.4971 20.8509 21.5512 20.9966 21.5486C21.1424 21.5461 21.2814 21.487 21.3845 21.384C21.4875 21.2809 21.5465 21.1419 21.5491 20.9961C21.5517 20.8504 21.4976 20.7094 21.3982 20.6027ZM3.56324 10.5002C3.56324 9.12814 3.97011 7.78685 4.73242 6.64598C5.49472 5.50511 6.57821 4.61592 7.84587 4.09083C9.11353 3.56575 10.5084 3.42837 11.8542 3.69605C13.1999 3.96374 14.4361 4.62447 15.4063 5.5947C16.3765 6.56492 17.0372 7.80107 17.3049 9.14681C17.5726 10.4926 17.4352 11.8875 16.9102 13.1551C16.3851 14.4228 15.4959 15.5063 14.355 16.2686C13.2141 17.0309 11.8728 17.4377 10.5007 17.4377C8.66148 17.4355 6.8982 16.7039 5.59765 15.4033C4.2971 14.1028 3.56547 12.3395 3.56324 10.5002Z" fill="#183754"/>
            </svg>
          </button>

          {%- comment -%} Currency Selector {%- endcomment -%}
          <div class="diamension-header__currency">
            <span class="diamension-header__currency-text">{{ section.settings.currency_text }}</span>
          </div>

          {%- comment -%} Account {%- endcomment -%}
          <a
            href="{{ routes.account_url }}"
            class="diamension-header__icon diamension-header__icon-profile"
            aria-label="Account"
          >
            <svg
              class="diamension-header__icon-svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M11.9995 12.0013C14.1652 12.0013 15.9268 10.2397 15.9268 8.07316C15.9268 5.90754 14.1652 4.14502 11.9995 4.14502C9.83391 4.14502 8.07227 5.90751 8.07227 8.07316C8.07227 10.2388 9.83391 12.0013 11.9995 12.0013ZM11.9995 5.45411C13.4433 5.45411 14.6177 6.62854 14.6177 8.07316C14.6177 9.51692 13.4433 10.6922 11.9995 10.6922C10.5558 10.6922 9.38136 9.51694 9.38136 8.07316C9.38136 6.62939 10.5558 5.45411 11.9995 5.45411Z" fill="#183754"/>
              <path d="M15.9263 13.3103H8.0718C5.90617 13.3103 4.14453 15.0719 4.14453 17.2367V19.8549H5.45362V17.2367C5.45362 15.7938 6.62805 14.6194 8.0718 14.6194H15.9263C17.3701 14.6194 18.5445 15.7938 18.5445 17.2367V19.8549H19.8536V17.2367C19.8536 15.0711 18.092 13.3103 15.9263 13.3103Z" fill="#183754"/>
            </svg>
          </a>

          {%- comment -%} Cart {%- endcomment -%}
          <a
            href="{{ routes.cart_url }}"
            id="diamension-cart-icon-sticky"
            class="diamension-header__icon diamension-header__icon--cart"
            aria-label="Cart"
          >
            <svg
              class="diamension-header__icon-svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M21.9811 7.75594C21.857 7.61628 21.7047 7.50454 21.5342 7.4281C21.3637 7.35166 21.1789 7.31226 20.9921 7.3125H16.3121V7.125C16.3121 5.98125 15.8577 4.88435 15.049 4.0756C14.2402 3.26685 13.1433 2.8125 11.9996 2.8125C10.8558 2.8125 9.75894 3.26685 8.95019 4.0756C8.14144 4.88435 7.68709 5.98125 7.68709 7.125V7.3125H3.00709C2.82099 7.31122 2.63675 7.34953 2.46659 7.42488C2.29643 7.50024 2.14424 7.61092 2.02011 7.74958C1.89599 7.88824 1.80278 8.05172 1.74665 8.22915C1.69053 8.40659 1.67278 8.59393 1.69459 8.77875L3.03052 20.0287C3.06954 20.3491 3.2247 20.6439 3.4666 20.8575C3.7085 21.0711 4.02034 21.1885 4.34302 21.1875H19.6562C19.9788 21.1885 20.2907 21.0711 20.5326 20.8575C20.7745 20.6439 20.9296 20.3491 20.9687 20.0287L22.3046 8.77875C22.3257 8.5951 22.3079 8.40905 22.2521 8.23279C22.1964 8.05653 22.1041 7.89403 21.9811 7.75594ZM8.81209 7.125C8.81209 6.27962 9.14791 5.46887 9.74568 4.8711C10.3435 4.27332 11.1542 3.9375 11.9996 3.9375C12.845 3.9375 13.6557 4.27332 14.2535 4.8711C14.8513 5.46887 15.1871 6.27962 15.1871 7.125V7.3125H8.81209V7.125ZM19.8493 19.8966C19.8439 19.9435 19.821 19.9866 19.7852 20.0173C19.7494 20.0481 19.7033 20.0642 19.6562 20.0625H4.34302C4.29586 20.0642 4.24978 20.0481 4.21398 20.0173C4.17818 19.9866 4.1553 19.9435 4.1499 19.8966L2.81209 8.64656C2.80893 8.62076 2.8114 8.59457 2.81933 8.56981C2.82726 8.54505 2.84046 8.5223 2.85802 8.50312C2.87653 8.48216 2.89935 8.46544 2.92491 8.45412C2.95048 8.44279 2.97819 8.43712 3.00615 8.4375H7.68709V10.875C7.68709 11.0242 7.74635 11.1673 7.85184 11.2727C7.95733 11.3782 8.1004 11.4375 8.24959 11.4375C8.39877 11.4375 8.54184 11.3782 8.64733 11.2727C8.75282 11.1673 8.81209 11.0242 8.81209 10.875V8.4375H15.1871V10.875C15.1871 11.0242 15.2464 11.1673 15.3518 11.2727C15.4573 11.3782 15.6004 11.4375 15.7496 11.4375C15.8988 11.4375 16.0418 11.3782 16.1473 11.2727C16.2528 11.1673 16.3121 11.0242 16.3121 10.875V8.4375H20.9921C21.02 8.43712 21.0478 8.44279 21.0733 8.45412C21.0989 8.46544 21.1217 8.48216 21.1402 8.50312C21.1578 8.5223 21.171 8.54505 21.1789 8.56981C21.1868 8.59457 21.1893 8.62076 21.1861 8.64656L19.8493 19.8966Z" fill="#183754"/>
            </svg>
            <span class="diamension-header__cart-count" data-cart-count-sticky>
              {%- if cart.item_count > 0 %}{{ cart.item_count }}{% endif -%}
            </span>
          </a>
        </div>
      </div>
    </div>
  </header>
{%- endif -%}

<script src="{{ 'section-diamension-header.js' | asset_url }}" defer></script>

{% schema %}
{
  "name": "Diamension Header",
  "settings": [
    {
      "type": "text",
      "id": "announcement_text",
      "label": "Announcement Text",
      "default": "FREE STANDARD SHIPPING WITHIN THE EUROPEAN UNION ON ORDERS OVER Rs. 50k"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Desktop Menu",
      "default": "main-menu"
    },
    {
      "type": "link_list",
      "id": "mobile_menu",
      "label": "Mobile Menu",
      "default": "main-menu",
      "info": "Select menu for mobile navigation (can differ from desktop)"
    },
    {
      "type": "header",
      "content": "Logo Settings"
    },
    {
      "type": "image_picker",
      "id": "logo_light",
      "label": "Logo (Light - for transparent header)",
      "info": "Displayed when header is transparent. Leave empty to use default SVG logo."
    },
    {
      "type": "image_picker",
      "id": "logo_dark",
      "label": "Logo (Dark - for solid header)",
      "info": "Displayed when header is scrolled or hovered. Leave empty to use default SVG logo."
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 100,
      "max": 300,
      "step": 10,
      "unit": "px",
      "label": "Logo Width",
      "default": 190
    },
    {
      "type": "text",
      "id": "currency_text",
      "label": "Currency Display",
      "default": "INR / ₹"
    },
    {
      "type": "header",
      "content": "Search Settings"
    },
    {
      "type": "link_list",
      "id": "suggested_terms_menu",
      "label": "Suggested Search Terms Menu",
      "info": "Select a menu with search term suggestions. Links will appear below the search input."
    },
    {
      "type": "header",
      "content": "Header Behavior"
    },
    {
      "type": "select",
      "id": "header_behavior",
      "label": "Header Behavior",
      "options": [
        {
          "value": "auto",
          "label": "Auto (Transparent → Solid on Scroll)"
        },
        {
          "value": "solid",
          "label": "Always Solid"
        }
      ],
      "default": "auto",
      "info": "Control header appearance behavior for this page"
    }
  ],
  "blocks": [
    {
      "type": "mega_menu_column",
      "name": "Mega Menu Column",
      "settings": [
        {
          "type": "text",
          "id": "menu_id",
          "label": "Assign to Menu (ID)",
          "default": "shop",
          "info": "Enter lowercase menu ID: shop, brand, customize, origins, blog, etc."
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Column Heading",
          "info": "e.g., CATEGORIES, COLLECTIONS, BY STYLE"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu",
          "info": "Select the menu to display in this column"
        }
      ]
    },
    {
      "type": "mega_menu_featured_card",
      "name": "Mega Menu Featured Card",
      "settings": [
        {
          "type": "text",
          "id": "menu_id",
          "label": "Assign to Menu (ID)",
          "default": "shop",
          "info": "Enter lowercase menu ID: shop, brand, customize, origins, blog, etc."
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Card Image"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Card Heading",
          "default": "NEW ARRIVALS"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Card Link"
        }
      ]
    },
    {
      "type": "mega_menu_card_item",
      "name": "Mega Menu Card",
      "settings": [
        {
          "type": "text",
          "id": "menu_id",
          "label": "Assign to Menu (ID)",
          "default": "brand",
          "info": "Enter lowercase menu ID: shop, brand, customize, origins, blog, etc."
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Card Image"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Card Heading",
          "default": "OUR STORY"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Card Link"
        }
      ]
    },
    {
      "type": "mobile_featured_card",
      "name": "Mobile Featured Card",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Card Image",
          "info": "Displays in Level 1 mobile menu (2x2 grid)"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Card Heading",
          "default": "NEW ARRIVALS"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Card Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Diamension Header"
    }
  ]
}
{% endschema %}
